@import '../../styles/variables.scss';

// local variables
$transition: all 0.3s ease-in-out;
$border: 1px solid rgba(255, 255, 255, 0.25);
$thumb-size: 60px;

.list-item {
  position: relative;
  border-top: $border;
  overflow-x: hidden;

  &:last-of-type {
    border-bottom: $border;
  }

  &:hover {
    transition: $transition;
    background-color: $color-blue-dark;
  }

  @media screen and (min-width: 680px) {
    width: 50%;
    float: left;

    &:nth-of-type(odd) {
      border-right: $border;
    }

    &:nth-of-type(4n) {
      border-bottom: $border;
    }

    &:hover {
      .arrow-right img {
        transition: $transition;
        transform: translateX(70%);
      }
    }
  }

  .arrow-right img {
    transition: $transition;
    transform: translateX(50%);
  }

  .container {
    transition: $transition;
    opacity: 0;

    &.next {
      transition: $transition;
      transform: translateX(15%);
    }
    &.prev {
      transition: $transition;
      transform: translateX(-15%);
    }
  }

  &.animate .container {
    transition: $transition;
    opacity: 1;
    transform: translateX(0);
  }

  .thumb {
    width: $thumb-size;
    height: $thumb-size;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .arrow-right {
    transition: $transition;
    position: absolute;
    top: 33%;
    right: 1rem;
  }
}
