/* /// variables /// */

// colors
$color-blue-light: #1f85c9;
$color-blue-semi-medium: #0f70b1;
$color-blue-medium: #006fb9;
$color-blue-dark: #004879;
$color-shadow-light: rgba(0, 0, 0, 0.3);

// font weight
$font-w-light: 200;
$font-w-normal: 300;
$font-w-bold: 500;
$font-w-bolder: 600;

// corner accent variables
$corner-pseudo-size: 20px;
$corner-pseudo-position: calc(($corner-pseudo-size / -2));
