/* /// variables /// */

// colors
$color-blue-light: #7ccbff;
$color-blue-medium: #4bb6fd;
$color-blue-dark: #008eec;
$color-hot-pink: #c074b2;

// font weight
$font-w-light: 200;
$font-w-normal: 300;
$font-w-bold: 500;
$font-w-bolder: 600;

// image sizs
$img-size: 60px;
