@import 'styles/reset.scss';
@import 'styles/variables.scss';
@import 'styles/utilities.scss';

html {
  overflow-y: scroll;
  background-color: lightgrey;
}

body {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  background-image: linear-gradient(
    90deg,
    $color-blue-light,
    $color-blue-medium
  );
  width: min(100vw, 768px);
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
